.find-icons{
    display: flex;
    justify-content: space-between;
    
    padding-bottom: 25px;
}
.find-icons__icon{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.find-icons__icon i{
    font-size: 35px;
    margin-bottom: 15px;
}

.find-icons__icon div{
    font-weight: 500;
}
.recommended-friends{
    margin: 25px 0;
    padding: 25px 0;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}
.recommended-friends__title{
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}

.recommended-friends__text{
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0,0,0,0.5);
    text-align: center;
    margin: 100px 0;
}

.open-chat__header{
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}
.open-chat__header span{
    opacity: 0.6;
}
.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.open-post__title{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}
.open-post__hasgtags{
    text-transform: uppercase;
    font-size: 17px;
    opacity: 0.7;
    margin-bottom: 5px;
}
.open-post__members{
    display: flex;
    align-items: center;

}
.open-post__members img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
}
.open-post__member-count{
    font-size: 15px;
    opacity: 0.6;
}
.open-post__members .divider{
    width: 1px;
    height: 15px;
    background-color: rgba(0,0,0,0.3);
    margin: 0px 5px;
}

.open-post__photo{
    position: relative;
}

.open-post__member-status{
    color: rgb(209, 123, 137)
}

.open-post__photo img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.open-post__heart-count{
    background-color: rgba(0,0,0,0.6);
    color: white;
    border-radius: 13px;
    padding: 3px 9px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 13px;
}
.open-post__heart-count span{
    margin-left: 4px;
}

@keyframes heartBeat {
    0%{
        color: white;
        transform: none;
    }
    50%{
        color: red;
        transform: scale(1.5);
    }
    100%{
        color: white;
        transform: none;
    }
}

.open-post__heart-count:hover i{
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}