*{
    margin-left: 25px;
    margin-right: 25px;
}
.user-component{
    justify-content: space-between;
}

.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
}

.user-component__avatar{
    width: 80px;
    height: 80px;
    border-radius: 30px;
    margin-top: 10px;
}

.user-component__title{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
    margin-left: 15px;
}

.user-component__subtitle{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 17px;
    font-weight: bolder;
    color: rgba(0,0,0,0.3);
}

.user-component__avatat--xl{
    width: 80px;
    height: 80px;
}

.user-component__avatat--sm{
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.user-component__title--not-bold{
    font-weight: 400;
}

.user-component__column:last-child{
    color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: end;
}

.firends-screen-profile{
    padding-top: 20px;
}

.user-component__time{
    display: block;
    margin-bottom: 10px;
}
